@using ShopSWE.Models.Enity
@model ShopSWE.Models.ViewModels.OrderViewModel
@{
    int previous = Model.pageIndex - 1;
    int next = Model.pageIndex + 1;
}
<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>Tên khách hàng</th>
            <th>Email khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ khách hàng</th>
            <th>Thời gian</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order1 item in Model.orders as List<Order1>)
        {
            <tr>
                <td>@item.ShipName</td>
                <td>@item.ShipEmail</td>
                <td>@item.ShipMobile</td>
                <td>@item.ShipAddress</td>
                <td>@string.Format("{0:g}", item.CreateDate)</td>
                <td class="action-picker">
                    <i class="fa fa-eye" style="margin-left: 10px; cursor:pointer;" onclick="return location.href = '/Admin/danhsachsanpham/DetailDonHang?OrderID=@item.OrderID'"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.pageIndex == 1)
        {
            <li class="page-item"><a class="page-link" style="opacity: 0.5;"><i class="fas fa-angle-left"></i></a></li>

        }
        @if (Model.pageIndex > 1)
        {
            <li class="page-item"><a class="page-link" onclick="Refresh1('#table-engine1',@previous)"><i class="fas fa-angle-left"></i></a></li>
        }
        @for (int i = 1; i <= Model.TotalPage; i++)
        {
            if (i == Model.pageIndex)
            {
                <li class="page-item"><a class="page-link-active page-link" onclick="Refresh1('#table-engine1',@i)">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" onclick="Refresh1('#table-engine1',@i)">@i</a></li>
            }
        }
        @if (Model.pageIndex < Model.TotalPage)
        {
            <li id="next" class="page-item"><a class="page-link" onclick="Refresh1('#table-engine1',@next)"><i class="fas fa-angle-right"></i></a></li>
        }
        @if (Model.pageIndex == Model.TotalPage)
        {
            <li id="next" class="page-item"><a class="page-link" style="opacity: 0.5;"><i class="fas fa-angle-right"></i></a></li>
        }
    </ul>
</nav>
